.container {
  width: 60vw;
  margin: 2rem;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border : 1px solid black;
}

.results {
  margin-right: 40rem;
  font-size: 1.4rem;
}

